APP_CONFIG__DB__URL=postgresql+asyncpg://arthur:z1x2c3v4b5@localhost:5432/service-1
APP_CONFIG__DB__ECHO=False
APP_CONFIG__DB__ECHO_POOL=False
APP_CONFIG__DB__MAX_OVERFLOW=5
APP_CONFIG__DB__POOL_SIZE=10
APP_CONFIG__DB__POOL_PRE_PING=True

APP_CONFIG__REDIS__URL=redis://localhost:6379
APP_CONFIG__REDIS__CACHE_TTL_SECONDS=3600
APP_CONFIG__REDIS__SOCKET_CONNECT_TIMEOUT=0.2
APP_CONFIG__REDIS__SOCKET_TIMEOUT=0.2

APP_CONFIG__CLIENT__BASE_URL=http://localhost:8080
APP_CONFIG__CLIENT__TIMEOUT=10

APP_CONFIG__RETRY__RETRY_COST=10
APP_CONFIG__RETRY__RETRY_BUDGET_RATIO=0.1
APP_CONFIG__RETRY__MAX_RETRY_BUDGET=3
APP_CONFIG__RETRY__MAX_RETRY_DELAY_SECONDS=60

APP_CONFIG__RUN__HOST=0.0.0.0
APP_CONFIG__RUN__PORT=8000
APP_CONFIG__RUN__RELOAD=True

APP_CONFIG__WORKER__PENDING_USERS_PER_WORKER=100
APP_CONFIG__WORKER__STUCK_USERS_PER_WORKER=10
APP_CONFIG__WORKER__MAX_CONCURRENT_TASKS=5
APP_CONFIG__WORKER__MAX_RETRY_COUNT_PER_USER=3
APP_CONFIG__WORKER__MAX_BACKOFF_MINUTES=60
APP_CONFIG__WORKER__POLL_INTERVAL=10
APP_CONFIG__WORKER__PROCESSING_TIMEOUT_SECONDS=600